body {
    background-color: #3b82f6;
    background: linear-gradient(to right, #80a8ff, #CEB5FF); 
    font-family: Neuton, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
/*---------Header-------------------------------- */
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 60px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding-right: 60px;
    padding-left: 40px;
}
.services {
    font-size: 18px;
    text-shadow: 1px 1px 6px #33363D;
    color: #FFFADA

}
.logo {
    font-size: 40px;
    font-weight: 800;  
    text-shadow: 1px 1px 6px #33363D;
    color: #FFFADA
}
/*---------Main-------------------------------- */
.slogan {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 50vh;
    color: #FFFADA;
    text-shadow: 1px 1px 6px #33363D;
}
.slogan h2 {
    font-size: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.slogan p {
    font-size: 20px;
}
